<!DOCTYPE html>
<html lang="en">
<head>
  <title>Not Found</title>
</head>
<body>
    <h1>404 the {{page}} Page was Not Found</h1>
    <a href="/">Home</a> <br/>

    <section id="table">
        {{#if this.table}}
        <div>
            <h3 class="tableName">Name: {{this.table.name}}</h3>
            <h3 class="tableBet">Bet:{{this.table.curBet}}</h3>
            {{this.table.hand}}
            {{#each this.players}}
            <!-- Inside the each statement "this" refers to each player, like this "this" is different from the outside "this"
            how do I get out of this scope and compare the current players name to another attribute (real players name) of the doc I sent in to this page? -->
            {{#if this.name != ../curPlayer}}
            <div>
                <h3>Player: {{this.name}} </h3>
                <h3>Bet: {{this.bet}}</h3>
                <h3>Decision: {{this.decision}}</h3>
            </div>
            {{else}}
            <div>
                <h3>Player: {{this.name}} </h3>
                <h3>Bet: {{this.bet}}</h3>
                <h3>Hand: {{this.hand}}</h3>
                <h3>Decision: {{this.decision}}</h3>
            </div>
            
        </div>
        
    </section>
    <script src="/assets/bundle.js"></script>
    
</body>
</html>